
				<div class="card comment">
					<div class="card-block">
						<h4 class="card-title"><%= comment.user.username%></h4>
						<h6 class="card-subtitle mb-2 text-muted">
							No. <span class="comment_id"><%= comment.id %></span>
							| <%= comment.created_at.strftime("%H:%M, %d.%m.%Y") %>
						</h6>
						<p><pre><%= comment.body %></pre></p>
						<% if user_signed_in? %>
							<a href="javascript:;" class="card-link reply_link" onclick="<%= "reply(#{comment.id});" %>">Ответить</a>
							<%= link_to "Удалить", post_comment_url(@post,comment), method: :delete %>
						<% end %>
					</div>
				</div>
