<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group row">
    <%= form.label :image, class: "col-sm-1 col-form-label", for: :post_path_image%>
    <div class="col-sm-11">
      <%= form.file_field :image, id: :post_path, class: "form-control-file" %>
    </div>
  </div>

    <div class="form-group row">
      <%= form.label :tags, class: "col-sm-1 col-form-label"%>
     <!--  <%= form.collection_select(:tag_id, Tag.all, :id, :name) %> -->
     <div class="col-sm-11">
      <%= form.text_area :tags_array, value: post.tags.map{|t| t.name}.join(" "), class: "form-control" %>
      </div>
    </div>
  <div class="actions">
    <%= form.submit class: "btn btn-primary mb-2" %>
  </div>
<% end %>
