
<div class="row">
	<div class="col-lg-2  col-md-2 col-sm-12">
		<div id="left_bar">		
		      <div class="form-group row">
        <div class="col-sm-12">
          <input type="search" class="form-control form-control-sm" id="colFormLabelSm" placeholder="type tags here">
          <button type="button" class="btn btn-primary btn-sm btn-block" id="search_button">Search</button>
        </div>
      </div>
				<!-- под вопросом -->
        <%= render "tags/list.html.erb" %>
        <%= render "posts/info.html.erb" %>
    </div>
	</div>
	<div class="col-lg-10 col-md-10 col-sm-12">
		<div class="row">
				<div id="post-image">
					<%= link_to "Image was scaled. Link to full image (пока нет)","#"  if @post.samp%><br>
					<%= image_tag link_to_image(@post), class: "img-fluid"%>
				</div>
			
		</div>
	<div class="my-3 p-3 bg-white rounded box-shadow">
		<h4>Comments</h4>
		<%= render @post.comments %>
		</div>
	<%= render 'comments/new_comment.html.erb'%>

	</div>
</div>