
<div class="row">
	<div class="col-lg-2 col-md-5 col-sm-12 ">

		<div id="tags">
			
				<%= link_to 'Back', posts_path%>
				<%= link_to 'Edit', edit_post_path(@post) %>
				<%= link_to 'Delete', post_path(@post), method: :delete %>
            <h4>Теги</h4>
            <p>
            		<% @post.tags.each do |tag| %>
										<%= link_to tag.name, posts_url(tag: tag.name) %>
										<br>
								<% end %>
            </p>
            <h4>Информация</h4>
            <p>
            		Name: <%= @post.name %><br>
            		Date: <%= @post.created_at %>
            </p>

    </div>
	</div>
		<div class="col-lg-10 col-md-8 col-sm-12">
	<div class="row">
			<div id="post-image">
							<%= link_to "Image was scaled. Link to full image (пока нет)","#"  if @post.has_sample?%><br>
				<%= post_show_image(@post) {|image| image_tag image} %>	
			</div>
		
	</div>

	<div class="my-3 p-3 bg-white rounded box-shadow">
		<h4>Comments</h4>
			<% @post.comments.each do |comment| %>
				<div class="card">
					<div class="card-block">
						<h4 class="card-title"><%= comment.user.username%></h4>
						<h6 class="card-subtitle mb-2 text-muted">
							No.<%= comment.id %> |<%= comment.created_at.strftime("%H:%M, %d.%m.%Y") %>
						</h6>
						<p><%= comment.body %></p>
						<% if user_signed_in? %>
							<a href="#" class="card-link">Ответить</a>
						<% end %>
						<% if  comment.user == current_user %>
							<%= link_to "Удалить", post_comment_url(@post,comment), method: :delete %>
						<%  end%>
					</div>
				</div>
			<% end  %>
	</div>
	<% if user_signed_in?  %>
		<div class="my-3 p-3 bg-white rounded box-shadow">
					<h4>Add comment</h4>
			<%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
				<div class="form-group row">
					 	<div class="col-sm-12">
							<%= form.text_area :body, class: "form-control" %>
						</div>
				</div>
			  <div class="actions">
			    <%= form.submit class: "btn btn-primary mb-2" %>
			  </div>
			<% end %>
		</div>
		<% else %>
				<div class="my-3 p-3 bg-danger box-shadow">
					<%= link_to "Войдите, чтобы оставить комментарий.", new_user_session_path, class: "text-light" %>
				</div>
	<% end %>

<br>

</div>
</div>