
<div class="row">
	<div class="col-lg-2  col-md-12 col-sm-12">
		<div id="left_bar">		
    		<%= render "layouts/search_form.html.erb" %>
        <%= render "tags/list.html.erb" %>
        <%= render "posts/info.html.erb" %>
    </div>
	</div>
	<div class="col-lg-10 col-md-12 col-sm-12">
		<div class="row">
				<div id="post-image">
					<%= link_to "Image was scaled. Link to full image (пока нет)","#"  if @post.samp%><br>
					<%= image_tag link_to_image(@post), class: "img-fluid"%>
				</div>
		</div>
	<div class="my-3 p-3 bg-white rounded box-shadow">
		<h4>Comments</h4>
		<%= render @post.comments %>
		</div>
	<%= render 'comments/new_comment.html.erb'%>
	</div>
</div>