   <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "Railbooru", root_url, class: "navbar-brand"%>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Посты", posts_url, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Теги", tags_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
            	<%= link_to "Аккаунт", user_url(current_user), class: 'nav-link' %>
            <% else %>
            	<%= link_to "Аккаунт", "", class: 'nav-link disabled' %>
            <% end %>
          </li>
        </ul>

        <% if user_signed_in? %>
				  <span class=" text-light"> Logged in as <%= link_to current_user.username, user_url(current_user)%>  | </span>

				  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link text-light' %> |
				  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link text-secondary'  %>
				<% else %>
				  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link text-light'  %> |
				  <%= link_to "Login", new_user_session_path, :class => 'navbar-link text-light'  %>
				<% end %>
      </div>
    </nav>

   		<nav class="navbar navbar-toggleable-md navbar-inverse navbar-inverse" style="background-color: #536379;">
        <ul class="navbar-nav mr-auto inline">
    <% if user_signed_in? %>
        <% if controller_name == "posts" %>

          <li class="nav-item active">
            <%= link_to "Добавить пост", new_post_path, class: "nav-link" %>
          </li>

          <% if action_name == "index" %>
          	<%= link_to "Мои посты", "", class: "nav-link" %>
          <% end %>

          <% if action_name == "show"%>
          	<% if can? :update, @post %>
          		<li class="nav-item">
            		<%= link_to "Изменить", edit_post_path(@post), class: "nav-link" %>
          		</li>
          	<% end %>

          	<% if can? :destroy, @post %>
          		<li class="nav-item">
            		<%= link_to "Удалить", post_path(@post), class: "nav-link", method: :delete %>
          	</li>
          	<% end %>
          <% end %>

         <% end %> 

         <% if controller_name == "users" %>
         		<%= link_to "Профиль", user_url(current_user), class: "nav-link" %>
         		<%= link_to "Изменить", edit_user_registration_path, class: "nav-link" %>
         <% end %>

         <% else %>
         	<li class="nav-item">
					  <%= link_to "Sign up", new_user_registration_path, class: "nav-link"  %>
					</li>
					<li class="nav-item">
					  <%= link_to "Login", new_user_session_path, class: "nav-link"  %>
					 </li>
          <% end %>
        </ul>
    	</nav>